<form method="post" action="/posts/<%=@post.id%>">
  <p><input id="hidden" type="hidden" name="_method" value="patch"></p>
  <p>Name<input type="text" value="<%=@post.name%>" name="name"></p>
  <p>Contents<input type="text" value="<%=@post.content%>" name="content"></p>
  <input type="submit" value="submit">
</form>
